@model IEnumerable<ParcelDeliveryTrackingAsp.Models.Delivery>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/_AdminLayout.cshtml";
}

<h1>Deliveries</h1>

<p>
    <a href="~/Admin/CrudDeliveries/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryId)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParcelId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParcelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonnelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryDate)
            </td>
            <td>
                @Html.ActionLink("Update", "Update", new { id=item.DeliveryId }) |
                @Html.ActionLink("Details", "Details", new { id=item.DeliveryId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.DeliveryId })
            </td>
        </tr>
}
    </tbody>
</table>
